*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 150vh;
}

body {
    padding: 20px;
    background: rgb(235, 234, 234);
}


article h1 {
    color: #0974b3;
    margin: 0;
}

.container {
    position: relative;
    width: 120px;
    float: left;
    margin-right: 20px;
}

.container img {
    width: 100%;
}

.container .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 96%;
    background: rgba(26, 26, 26, 0.6);
    opacity: 0;
    transition: 0.3s;
}


.container:hover .overlay {
    opacity:1
}

.container .overlay img {
    object-fit: contain;
    width: 50%;
    position: relative;
    top: 30%;
    left: 25%;
}

p {
    margin: 20px 0;
}


article  {
    float: left;
    width: 300px;
    background: white;
    font-family: 'News Cycle', sans-serif;
    font-size: 16px;
    color: #666;
    margin: 10px 10px 0 10px;
    padding: 20px;
    border-top: 5px solid #c3c2c2;
    cursor: pointer;
    transition: 0.3s;
}

article:hover {
    transform: translateY(-7px);
    border-top: 5px solid #0974b3;
}

button {
    margin-left: 5px;
    width: 250px;
    height: 60px;
    border-radius: 20px 0;
    background: #0974b3;
    color: white;
    font-family: 'News Cycle', sans-serif;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 10px;

}

button:hover {
    background: #02446b;
}